<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
    <link rel="stylesheet" href="../seller/css/seller.css">
</head>
<body>
   
    <div class="container">
        <div class="form-add">
            <form>
                <label for="text">name</label><br>
                <input type="text" id="product-name" placeholder="Product Name..." required><br><br>
                <label for="text">price</label><br>
                <input type="text" id="product-price" placeholder="Product Price..." required><br><br>
                <label for="text">quantity</label><br>
                <input type="text" id="product-quantity" placeholder="Product Quantity..." required><br><br>
                <label for="text">color</label><br>
                <input type="text" id="product-color" placeholder="Product Color..." required><br><br>
                <div class="btn">
                    <button>Add ++</button>
                    <a href="../../index.html">View customer</a>
                </div>
            </form>
            
        </div>
        <div class="table-data"></div>
    </div>
    <h1 id="result"></h1>

    <script src="js/seller.js"></script>
</body>
</html>